@font-face {
    font-family: vazir;
    src: url("../font/vazir/Vazir.ttf");
}
@font-face {
    font-family: iransans;
    src: url("../font/iransans/iransans.ttf");
}

.all .title {
    color: #bb86fc;
    font-weight: bold;
}

@media (prefers-color-scheme: light) {
    .all {
        text-align: right;
        direction: rtl;
        background: #f1f1f1;
        color: black;
        font-size: 90%;
    }
    .all .main {
        font-family: iransans, sans-serif;
        padding: 10%;
    }
    .all .link {
        text-decoration: none;
        color: navy;
    }
    .all .links a {
        text-decoration: none;
        color: navy;
    }
}

@media (prefers-color-scheme: dark) {
    .all {
        text-align: right;
        direction: rtl;
        background: #313131;
        color: white;
        font-size: 90%;
    }
    .all .main {
        font-family: iransans, sans-serif;
        padding: 10%;
    }
    .all .link {
        text-decoration: none;
        color: aqua;
    }
    .all .links a {
        text-decoration: none;
        color: aqua;
    }
}